xml/biblioteca2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="factura">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="emision" type="xs:string"/>
        <xs:element ref="vendedor"/>
        <xs:element ref="cliente"/>
        <xs:element ref="articulo" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element ref="direccion"/>
        <xs:element ref="telefono" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="direccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="via" type="xs:string"/>
        <xs:element name="cp" type="xs:string"/>
        <xs:element name="localidad" type="xs:string"/>
        <xs:element name="provincia" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="telefono">
    <xs:complexType>
      <xs:attribute name="num" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="articulo">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="articulo" minOccurs="0"/>
        <xs:element name="descuento" type="xs:string"/>
        <xs:element name="denominacion" type="xs:string"/>
        <xs:element name="precio" type="xs:string"/>
        <xs:element name="cantidad" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="iva" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
